altgraph==0.17.5
annotated-types==0.7.0
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
h11==0.16.0
idna==3.11
jsonify==0.5
lance-namespace==0.4.5
lance-namespace-urllib3-client==0.4.5
macholib==1.16.4
modulegraph==0.19.7
numpy==2.4.0
outcome==1.3.0.post0
packaging==25.0
pefile==2024.8.26
psutil==7.2.1
py2app==0.28.9
pyarrow==22.0.0
pycparser==2.23
pycurl==7.45.7
pydantic==2.12.5
pydantic_core==2.41.5
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.11
pylance==1.0.1
PyQt5-Qt5==5.15.18
PyQt5_sip==12.17.2
PyQt6==6.10.1
PyQt6-Qt6==6.10.1
PyQt6_sip==13.10.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
requests==2.32.5
selenium==4.39.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.32.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
websocket-client==1.9.0
wsproto==1.3.2
